.cart {
    padding: 20px;
    background-color: #f9f9f9;
}

.cart h1 {
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center;
}

.empty-cart {
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}

.empty-cart button {
    background-color: black;
    color: white;
    border: none;
    width: 150px;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 20px;
}

.empty-cart button:hover {
    opacity: 0.8;
}

.cart-items {
    flex: 2 1 0;
}

.cart-item {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
    background-color: #fff;
    justify-content: space-between;
}

.cart-item h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.cart-item p {
    margin: 5px 0;
}

.cart-item-actions {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    align-items: last baseline;
    width: 200px;
}

.plus-minus-container {
    width: 100px;
    display: flex;
    justify-content: space-between;
}

.plus-minus-container button {
    border: none;
    cursor: pointer;
    border-radius: 4px;
    width: 30px;
    height: 30px;
    background-color: black;
    color: white;  
}

.remove-item {
    background-color: transparent;
    border: none;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
}

.remove-item img {
    width: 25px;
    height: 25px;
}

.cart-detail {
    display: flex;
    gap: 20px;
    margin-top: 20px;

}

.clear-cart-button-wrapper {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.clear-cart-button {
    font-size: 12px;
    width: 150px;
    background-color: #979797;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 20px;
}

.product-image {
    max-width: 200px;
}

.product-row-1 {
    max-width: 500px;
    gap: 30px;
    align-items: center;
}

.product-row-2 {
    justify-content: end;
    gap: 40px;
}

.price {
    font-size: 20px;
}
.product-detail {
    font-size: 14px;
    margin-top: -2px;
    color: gray;
    font-weight: 400;
}


.clear-cart-button {
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
}
.clear-cart-button:hover {
    opacity: 0.8;
}

h2.product-name {
    margin-bottom: 5px;
}

.product-detail-first-row {
    gap: 50px;
}

.cart-summary {
    flex: 1 1 0;
    width: 400px;
    max-height: 400px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
}

.cart-summary h2 {
    font-size: 30px;
    margin-top: 15px;
    margin-bottom: 30px;
}

.label-price {
    width: 100%;
    justify-content: space-between;
}

.checkout-button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 20px;
    transition: 0.3s;
}

.checkout-button:hover {
    opacity: 0.8;
}


.checkout-button:disabled {
    background-color: #979797;
    cursor: not-allowed;
}

.plus-minus-container button:disabled {
    background-color: #979797;
    cursor: not-allowed;
}

.total {
    font-size: 20px;
    margin-top: 20px;
    font-weight: 700;
}

.empty-cart {
    margin-top: 150px;
}