.checkout {
    padding: 20px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.checkout h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: left;
}

.checkout form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.double-input-row-wrapper {
    justify-content: space-between;
    gap: 20px;
}

.with-label-wrapper {
    width: 100%;
}

.with-label-wrapper p {
    margin-bottom: 10px;
    font-size: 16px;
}

.checkout input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.checkout button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    transition: 0.3s;
}

.checkout button:hover {
    opacity: 0.8;
}

.checkout .step-navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    width: 100%;
}

.checkout .step-navigation button {
    width: 100%;
}

.checkout label {
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.checkout input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

.order-summary {
    margin-bottom: 15px;
    width: 100%;
}

/* Order Summary */
.checkout .order-summary {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 4px;
    background-color: #fff;
    margin-top: 20px;
}

.checkout .order-summary h3 {
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 20px;
}

.checkout .order-summary p {
    margin: 5px 0;
}

.form-wrapper {
    width: 600px;
}

select {
    padding: 5px;
}

p.note {
    margin-bottom: 0px;
    font-size: small;
}
.error-message {
    color: red;
    margin: 0;
}

.product-and-price {
    width: 100%;
    justify-content: space-between;
}

.total-price #price {
    font-weight: 700;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
}