.page-content p {
    font-size: 20px;
    margin: 15px 0;
    width: 100%
}

.page-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 50px;
}