.footer {
    display: flex;
    justify-content: center; /* Zentriert die Inhalte horizontal im Footer */
    align-items: center; /* Zentriert die Inhalte vertikal, falls nötig */
    width: 100%;
    box-sizing: border-box;
    padding-top: 50px;
    background-color: #333;
    color: #fff;
  }
  
  .footer-nav {
    display: flex;
    justify-content: center; /* Zentriert die Navigationsliste im Footer */
    width: 100%; /* Stellt sicher, dass die .footer-nav die volle Breite nutzt */
  }
  
  .footer-nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center; /* Zentriert die Liste horizontal */
    flex-wrap: wrap; /* Erlaubt das Umfließen der Elemente */
    gap: 20px; /* Fügt einen Abstand zwischen den Listenelementen hinzu */
  }
  
  .footer-nav li {
    /* Die margin-Anpassung ist durch die Verwendung von gap überflüssig */
  }
  
  .footer-nav a, .footer-nav a:hover {
    text-decoration: none;
    color: #fff;
  }
  
  .footer-nav a:hover {
    text-decoration: underline;
  }

  .footer-content {
    width: 100%;
  }

  .copyright {
    margin-top: 50px;
    margin-bottom: 10px;
    text-align: center;
  }